@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-nunito);
}

body {
  background: #0d0f1e;
  color: white;
  font-family: var(--font-nunito), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* iPhone Safe Area */
  padding-bottom: env(safe-area-inset-bottom);
}
